{{ DIALOG_DISPLAY }}

<h2>{{ Manage seven }}</h2>

<form action='index.php?app=main&inc=gateway_seven&op=manage_save' method='post'>
    {{ CSRF_FORM }}

    <table class='playsms-table'>
        <tbody>
        <tr>
            <td class='label-sizer'>
                {{ Gateway name }}
            </td>

            <td>
                seven
            </td>
        </tr>

        <tr>
            <td>
                <label for='up_apikey'>
                    {{ APIKey }}
                </label>
            </td>

            <td>
                <input maxlength='96' name='up_apikey' id='up_apikey'
                       value='{{ seven_param_apikey }}' required/>
                {{ HINT_API_KEY }}
            </td>
        </tr>

        <tr>
            <td>
                <label for='up_module_sender'>
                    {{ Module sender ID }}
                </label>
            </td>

            <td>
                <input maxlength='16' name='up_module_sender'
                       id='up_module_sender' value='{{ seven_param_module_sender }}'/>
                {{ HINT_MODULE_SENDER }}
            </td>
        </tr>

        <tr>
            <td>
                <label for='up_datetime_timezone'>
                    {{ Module timezone }}
                </label>
            </td>

            <td>
                <input size='5' maxlength='5' name='up_datetime_timezone'
                       id='up_datetime_timezone'
                       value='{{ seven_param_datetime_timezone }}'/>
                {{ HINT_TIMEZONE }}
            </td>
        </tr>
        </tbody>
    </table>

    <input type='submit' class='button' value='{{ Save }}'/>
</form>

<h3>{{ Notes }}:</h3>

<ul>
    <li>{{ SEVEN_SIGN_UP }} <a href='https://www.seven.io' target='_blank'>seven.io</a>
    </li>
    <li>{{ SEVEN_FREE_CREDITS }}</li>
    <li>{{ CALLBACK_URL_IS }} <u><em>{{ callback_url }}</em></u></li>
    <li>{{ CALLBACK_URL_ACCESSIBLE }}</li>
    <li>{{ CALLBACK_URL_CREATE }}</li>
    <li>{{ SEVEN_PUSH_DLR }}</li>
</ul>

{{ BUTTON_BACK }}
