{{ DIALOG_DISPLAY }}

<h2>{{ Manage sms77 }}</h2>

<form action='index.php?app=main&inc=gateway_sms77&op=manage_save' method='post'>
    {{ CSRF_FORM }}

    <table class='playsms-table'>
        <tbody>
        <tr>
            <td class='label-sizer'>
                {{ Gateway name }}
            </td>

            <td>
                sms77
            </td>
        </tr>

        <tr>
            <td>
                <label for='up_apikey'>
                    {{ APIKey }}
                </label>
            </td>

            <td>
                <input maxlength='96' name='up_apikey' id='up_apikey'
                       value='{{ sms77_param_apikey }}' required/>
                {{ HINT_API_KEY }}
            </td>
        </tr>

        <tr>
            <td>
                <label for='up_module_sender'>
                    {{ Module sender ID }}
                </label>
            </td>

            <td>
                <input maxlength='16' name='up_module_sender'
                       id='up_module_sender' value='{{ sms77_param_module_sender }}'/>
                {{ HINT_MODULE_SENDER }}
            </td>
        </tr>

        <tr>
            <td>
                <label for='up_datetime_timezone'>
                    {{ Module timezone }}
                </label>
            </td>

            <td>
                <input size='5' maxlength='5' name='up_datetime_timezone'
                       id='up_datetime_timezone'
                       value='{{ sms77_param_datetime_timezone }}'/>
                {{ HINT_TIMEZONE }}
            </td>
        </tr>
        </tbody>
    </table>

    <input type='submit' class='button' value='{{ Save }}'/>
</form>

<h3>{{ Notes }}:</h3>

<ul>
    <li>{{ SMS77_SIGN_UP }} <a href='https://www.sms77.io' target='_blank'>sms77.io</a>
    </li>
    <li>{{ SMS77_FREE_CREDITS }}</li>
    <li>{{ CALLBACK_URL_IS }} <u><em>{{ callback_url }}</em></u></li>
    <li>{{ CALLBACK_URL_ACCESSIBLE }}</li>
    <li>{{ CALLBACK_URL_CREATE }}</li>
    <li>{{ SMS77_PUSH_DLR }}</li>
</ul>

{{ BUTTON_BACK }}
